# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environments
# ==========================================================
venv/
.venv/
env/

# ==========================================================
# IDEs
# ==========================================================
.vscode/
.idea/

# ==========================================================
# OS Files
# ==========================================================
.DS_Store
Thumbs.db

# ==========================================================
# Python Cache
# ==========================================================
.pytest_cache/
.mypy_cache/

# ==========================================================
# Git
# ==========================================================
.gitignore

# ==========================================================
# Environment Variables
# ==========================================================
.env

# ==========================================================
# Logs
# ==========================================================
*.log

# ==========================================================
# Temporary Files
# ==========================================================
*.tmp
*.bak
